.title {
    position: fixed; /* bottom right */ 
    bottom: calc(100% * 0.005);
    right: 1%;
    font-family: 'IBM Plex Mono', 'bold';
    font-weight: 400;
    margin-left: 0;
    margin-right: 0;
}
.title h1 {
    font-weight: 500;
    color: #0c0a10;
}

.title h3 {
    font-family: 'IBM Plex Mono', bold;
    white-space: pre-wrap;
    font-weight: 300;
    color: #0c0a10;
}

.title h5 {
    font-family: 'IBM Plex Mono', bold;
    white-space: pre-wrap;
    font-weight: 300;
    color: #0c0a10;
    margin-top: .5em;
}

.divider {
    border-top: 1px solid #0c0a10;
    margin: 10px 0; /* Adjust the margin as needed */
}
        
/* hide if width OR height are small 
@media (max-width: 500px), (max-height: 400px) {
    .title {
        display: none;
    }
}
    */