.tooltip {
    position: absolute;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    z-index: 99999;
    /* respect newlines */
    white-space: pre-wrap;
    font-family: 'Aktive Grotesk', 'sans-serif';
}

.tooltip.visible {
    opacity: 1;
}

.tooltip svg {
    width: 200px;
    height: 200px;
    fill: #F8F9F9; /* EFF8B8 */
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(6px, -50%);
}

.tooltip text {
    white-space: pre-wrap;
}

.textContent {
    position: relative;
    z-index: 2;
    white-space: nowrap;
    background-color: #F8F9F9; /* EFF8B8 */
    padding: 1rem;
    border-radius: 0.5rem;
    outline: 1px solid #000;
}


.textContent ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tooltip h3 {
    margin-bottom: .25rem;
}

.originText {
    margin-top: 0.5rem;
    color: #888888;
    white-space: wrap;
}

.svgArrow {
    position: absolute;
    z-index: 9999999999999999999999999999999999;
    transform: scale(0.1) translate(117px, 0);
}