.multiRangeSlider * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.multiRangeSlider {
    display: flex;
    position: relative;
    flex-direction: column;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge,*/
}
.multiRangeSlider .bar {
    display: flex;
}
.multiRangeSlider .barLeft {
    width: 25%;
	height: 1px;
	margin: auto;
    background-color: #888888;
}
.multiRangeSlider .barRight {
    width: 25%;
	height: 1px;
	margin: auto;
    background-color: #888888;
}
.multiRangeSlider .barInner {
    background-color: #0c0a10;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between;
    position: relative;
	height: 1px;
	margin: auto;
    justify-content: space-between;
}
.multiRangeSlider .barInnerLeft {
    width: 50%;
}
.multiRangeSlider .barInnerRight {
    width: 50%;
}
.multiRangeSlider .thumb {
    background-color: #888888;
	width: 20px;
	height: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.multiRangeSlider .thumb::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: solid 1px #0c0a10;
    border-radius: 50%;
    z-index: 1;
    margin: -8px -12px;
    cursor: pointer;
}
.multiRangeSlider .inputTypeRange:focus + .thumb::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -7px;
    width: 11px;
    height: 11px;
    z-index: 2;
    border-radius: 50%;
    border: dotted 1px #0c0a10;
}

.multiRangeSlider .inputTypeRange {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}

.multiRangeSlider .ruler {
    margin: 10px 0px -5px 0px;
    display: flex;
    /* display: none; */
    overflow: hidden;
}
.multiRangeSlider .ruler .rulerRule {
    border-left: solid 1px;
    border-bottom: solid 1px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 5px 0px;
}
.multiRangeSlider .ruler .rulerRule:last-child {
    border-right: solid 1px;
}

.multiRangeSlider .ruler .rulerSubRule {
    border-left: solid 1px;
    /* border-bottom: solid 1px; */
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 3px 0px;
    bottom: 0px;
    margin-bottom: -5px;
}
.multiRangeSlider .ruler .rulerSubRule:first-child {
    border-left: none;
}

.labels {
    display: flex;
    justify-content: space-between;
    /* display: none; */
	margin-bottom: 5px;
}

.labelCaption {
	display: flex;
	/* space-between */
	flex-grow: 1;
	justify-content: space-between;
}

.labelCaption div {
	padding: 0px 3px;
	font-size: 80%;
	text-align: right;
	margin-top: auto;
	margin-bottom: auto;
	font-family: 'Aktive Grotesk', 'sans-serif';
}

.labelCaption span {
	box-sizing: border-box;
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 12px;
	padding: 5px;
	border: solid 1px #0c0a10;
	font-family: 'IBM Plex Mono', monospace;
}

.spacer {
	flex-grow: 1;
	flex-shrink: 1;
	width: 14%;
}


.multiRangeSlider .label {
    font-size: 80%;
    display: flex;
    width: 1px;
    justify-content: center;
}
.multiRangeSlider .label:first-child {
    justify-content: start;
}
.multiRangeSlider .label:last-child {
    justify-content: end;
}
.multiRangeSlider.zeroRanageMargin .thumbLeft {
    right: 12px;
}
.multiRangeSlider.zeroRanageMargin .thumbRight {
    left: 8px;
}

.captionContainer {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.caption {
	width: 100%;
	height: 100%;
	display: flex;
	min-width: 10px;
	min-height: 10px;
	border-radius: 100%;
	background-color: rgba(0, 0, 0, 0);
	color: rgba(0, 0, 0, 0);
	cursor: pointer;
}


.caption .dot {
	width: 110%;
	height: 110%;
	margin: auto;
	border-radius: 100%;
	background-color: #0c0a10;
}
