.multiRangeSlider * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.multiRangeSlider {
    display: flex;
    position: relative;
    border: solid 1px gray;
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: 1px 1px 4px black;
    flex-direction: column;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge,*/
}
.multiRangeSlider .bar {
    display: flex;
}
.multiRangeSlider .barLeft {
    width: 25%;
    background-color: #f0f0f0;
    border-radius: 10px 0px 0px 10px;
    box-shadow: inset 0px 0px 5px black;
    padding: 4px 0px;
}
.multiRangeSlider .barRight {
    width: 25%;
    background-color: #f0f0f0;
    border-radius: 0px 10px 10px 0px;
    box-shadow: inset 0px 0px 5px black;
}
.multiRangeSlider .barInner {
    background-color: lime;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between;
    position: relative;
    border: solid 1px black;
    justify-content: space-between;
    box-shadow: inset 0px 0px 5px black;
}
.multiRangeSlider .barInnerLeft {
    width: 50%;
}
.multiRangeSlider .barInnerRight {
    width: 50%;
}
.multiRangeSlider .thumb {
    background-color: red;
	width: 20px;
	height: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.multiRangeSlider .thumb::before {
    content: '';
    background-color: inherit;
    position: absolute;
    width: 20px;
    height: 20px;
    border: solid 1px black;
    box-shadow: 0px 0px 3px black, inset 0px 0px 5px gray;
    border-radius: 50%;
    z-index: 1;
    margin: -8px -12px;
    cursor: pointer;
}
.multiRangeSlider .inputTypeRange:focus + .thumb::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -7px;
    width: 11px;
    height: 11px;
    z-index: 2;
    border-radius: 50%;
    border: dotted 1px black;
    box-shadow: 0px 0px 5px white, inset 0px 0px 10px black;
}

.multiRangeSlider .inputTypeRange {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}

.multiRangeSlider .ruler {
    margin: 10px 0px -5px 0px;
    display: flex;
    /* display: none; */
    overflow: hidden;
}
.multiRangeSlider .ruler .rulerRule {
    border-left: solid 1px;
    border-bottom: solid 1px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 5px 0px;
}
.multiRangeSlider .ruler .rulerRule:last-child {
    border-right: solid 1px;
}

.multiRangeSlider .ruler .rulerSubRule {
    border-left: solid 1px;
    /* border-bottom: solid 1px; */
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 3px 0px;
    bottom: 0px;
    margin-bottom: -5px;
}
.multiRangeSlider .ruler .rulerSubRule:first-child {
    border-left: none;
}

.multiRangeSlider .labels {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: -20px;
    /* display: none; */
}
.multiRangeSlider .label {
    font-size: 80%;
    display: flex;
    width: 1px;
    justify-content: center;
}
.multiRangeSlider .label:first-child {
    justify-content: start;
}
.multiRangeSlider .label:last-child {
    justify-content: end;
}
.multiRangeSlider.zeroRanageMargin .thumbLeft {
    right: 12px;
}
.multiRangeSlider.zeroRanageMargin .thumbRight {
    left: 8px;
}

.captionContainer {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}